BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false
