*.o
*.lo
*.libs
*.deps
*.dirstamp
*.la
*~
*.swp
*Makefile.in

# /
/aclocal.m4
/configure
/config.log
/config.status
/libtool
/autom4te.cache
/.deps
/Makefile
/Makefile.in

# /config/
/config/*
!/config/hpx*
!/config/pkg.m4

# /docs/
/docs/Doxyfile
/docs/Makefile
/docs/doxyfile.stamp
/docs/html/
/docs/latex/

# /examples/
/examples/.deps
/examples/Makefile
/examples/Makefile.in
/examples/fibonacci
/examples/pingpong
/examples/allreduce
/examples/allreduce-chan
/examples/countdown
/examples/seqspawn
/examples/parspawn
/examples/future
/examples/agas_test
/examples/memput
/examples/memget
/examples/guppie
/examples/sendrecv
/examples/sendrecv-chan
/examples/pingpong-chan
/examples/allgather
/examples/allreduce-bench
/examples/alltoall
/examples/hello
/examples/netfutures
/examples/qsort
/examples/call

# /apps/
/apps/miniAMR/Makefile
/apps/miniAMR/parcels/Makefile
/apps/mpi/Makefile
/apps/Makefile
/apps/fmm/Makefile
/apps/fmm/parcels/Makefile
/apps/lulesh/parcels/Makefile
/apps/lulesh/parcels/luleshparcels
/apps/lulesh/Makefile
/apps/fmm/parcels/fmmparcels
/apps/lulesh/mpi/luleshMPI
/apps/miniAMR/parcels/miniamr
/apps/mpi/hpxmpi
/apps/lulesh/newfutures/Makefile
/apps/lulesh/newfutures/luleshnewfutures
/apps/libPXGL/Makefile
/apps/libPXGL/include/Makefile
/apps/libPXGL/examples/Makefile
/apps/libPXGL/examples/sssp

# /include/
/include/stamp-h1
/include/config.h
/include/config.h.in
/include/.deps
/include/Makefile
/include/Makefile.in
/include/hpx/Makefile
/include/libhpx/Makefile
/include/libsync/Makefile

# /contrib/
contrib/Makefile
contrib/hwloc-1.10.0/
contrib/libffi/
contrib/jemalloc/
contrib/jemalloc_hpx/
contrib/photon/

# /libhpx/
/libhpx/Makefile
/libhpx/boot/Makefile
/libhpx/gas/Makefile
/libhpx/network/Makefile
/libhpx/scheduler/Makefile
/libhpx/scheduler/arch/Makefile
/libhpx/system/Makefile
/libhpx/transport/Makefile
/libhpx/util/Makefile
/libsync/Makefile
/libsync/arch/Makefile

# /tests/
/tests/.deps
/tests/hpxtest
/tests/Makefile
/tests/Makefile.in
/tests/perf/Makefile
/tests/perf/overheads/Makefile
/tests/perf/overheads/run_tests.sh
/tests/perf/overheads/time_gas_addr_trans
/tests/perf/overheads/time_gas_alloc
/tests/perf/overheads/time_lco_allgather
/tests/perf/overheads/time_lco_allreduce
/tests/perf/overheads/time_lco_alltoall
/tests/perf/overheads/time_lco_and
/tests/perf/overheads/time_lco_chan
/tests/perf/overheads/time_lco_future
/tests/perf/overheads/time_lco_netfutures
/tests/perf/overheads/time_lco_netfutures_msgSize
/tests/perf/overheads/time_lco_sema
/tests/unit/Makefile
/tests/unit/run_tests.sh
/tests/unit/hpxtest



# /docs
/docs/doxyfile.stamp
/docs/Doxyfile
/docs/Makefile
/docs/html/
/docs/man/
/docs/latex/

# /bench/
/bench/Makefile
/bench/Makefile.in
/bench/netbench

