*.o
*.lo
*.libs
*.deps
*.dirstamp
*.la
*~
*Makefile.in

# /
/aclocal.m4
/configure
/config.log
/config.status
/libtool
/autom4te.cache
/.deps
/Makefile
/Makefile.in

# /config/
/config/*

# /docs/
/docs/Doxyfile
/docs/Makefile
/docs/doxyfile.stamp
/docs/html/
/docs/latex/

# /examples/
/examples/.deps
/examples/Makefile
/examples/Makefile.in

# /examples/network
/examples/network/.deps
/examples/network/pingpong
/examples/network/Makefile
/examples/network/Makefile.in

# /examples/thread
/examples/thread/.deps
/examples/thread/fibonacci
/examples/thread/Makefile
/examples/thread/Makefile.in

# /examples/hpx
/examples/hpx/.deps
/examples/hpx/fibonaccihpx
/examples/hpx/pingponghpx
/examples/hpx/Makefile
/examples/hpx/Makefile.in

# /include/
/include/stamp-h1
/include/config.h
/include/config.h.in
/include/.deps
/include/Makefile
/include/Makefile.in

# /include/arch/
/include/arch/.deps
/include/arch/Makefile
/include/arch/Makefile.in

# /include/arch/x86_64/
/include/arch/x86_64/.deps
/include/arch/x86_64/Makefile
/include/arch/x86_64/Makefile.in

# /include/contrib/
/include/contrib/.deps
/include/contrib/Makefile
/include/contrib/Makefile.in

# /include/contrib/freebsd/
/include/contrib/freebsd/.deps
/include/contrib/freebsd/Makefile
/include/contrib/freebsd/Makefile.in

# /include/contrib/sglib/
/include/contrib/sglib/.deps
/include/contrib/sglib/Makefile
/include/contrib/sglib/Makefile.in

# /include/xpi/
/include/xpi/.deps
/include/xpi/Makefile
/include/xpi/Makefile.in

# /src/
/src/.deps
/src/Makefile
/src/Makefile.in

# /src/libxpi/
/src/libxpi/.deps
/src/libxpi/Makefile
/src/libxpi/Makefile.in

# /tests/
/tests/.deps
/tests/hpxtest
/tests/Makefile
/tests/Makefile.in

# /tests/arch/
/tests/arch/.deps
/tests/arch/Makefile
/tests/arch/Makefile.in

# /tests/arch/x86_64/
/tests/arch/x86_64/.deps
/tests/arch/x86_64/Makefile
/tests/arch/x86_64/Makefile.in

# /docs
/docs/doxyfile.stamp
/docs/Doxyfile
/docs/Makefile
/docs/html/
/docs/man/
/docs/latex/

