*.o
*.lo
*.libs
*.deps
*.dirstamp
*.la
*~
*Makefile.in

# /
/aclocal.m4
/configure
/config.log
/config.status
/libtool
/autom4te.cache
/.deps
/Makefile
/Makefile.in

# /config/
/config/*
!/config/pkg.m4

# /docs/
/docs/Doxyfile
/docs/Makefile
/docs/doxyfile.stamp
/docs/html/
/docs/latex/

# /examples/
/examples/.deps
/examples/Makefile
/examples/Makefile.in
/examples/fibonaccihpx
/examples/pingponghpx
/examples/allreduce
/examples/countdown
/examples/seqspawn
/examples/parspawn
/examples/future
/examples/agas_test
/examples/memput
/examples/memget
/examples/guppie
/examples/sendrecv
/examples/sendrecv-chan

# /include/
/include/stamp-h1
/include/config.h
/include/config.h.in
/include/.deps
/include/Makefile
/include/Makefile.in

# /include/contrib/
/include/contrib/.deps
/include/contrib/Makefile
/include/contrib/Makefile.in

include/hpx/Makefile
include/libhpx/Makefile
include/libsync/Makefile

libhpx/Makefile
libhpx/boot/Makefile
libhpx/gas/Makefile
libhpx/network/Makefile
libhpx/scheduler/Makefile
libhpx/scheduler/arch/Makefile
libhpx/system/Makefile
libhpx/transport/Makefile
libsync/Makefile
libsync/arch/Makefile

# /tests/
/tests/.deps
/tests/hpxtest
/tests/Makefile
/tests/Makefile.in

# /tests/arch/
/tests/arch/.deps
/tests/arch/Makefile
/tests/arch/Makefile.in

# /tests/arch/x86_64/
/tests/arch/x86_64/.deps
/tests/arch/x86_64/Makefile
/tests/arch/x86_64/Makefile.in

# /docs
/docs/doxyfile.stamp
/docs/Doxyfile
/docs/Makefile
/docs/html/
/docs/man/
/docs/latex/

